<body>
	<!--header-->
	<div class="header-w3l">
		<h1>Sign in with the Gnome Page</h1>
	</div>
	<!--//header-->
	<!--main-->
	<div class="main-content-agile">
		<div class="sub-main-w3">
			<h2>Sign In</h2>
			<form id="signin" name="signin" method="post" action="signin">
				<h6>Sign in with with your Google Account</h6>
				<img src="../assets/images/google.png">



				<div class="icon1">
					<label for="email"></label>
					<input class="text" name="email" type="email" placeholder="Email" />
				</div>

				<div class="icon2">
					<label for="password"></label>
					<input name="password" type="password" placeholder="Password" />
				</div>

				<div class="clear"></div>

				<input class="btn" type="submit" value="Sign In" />


			</form>

		</div>
	</div>
	<!-- footer -->
	<div class="footer">
		<p>&copy; 2018 The Gnome Page. All rights reserved | Design by
			<a href="https://github.com/petercboss/Papayas-Project-2">Papayas-Project-2</a>
		</p>
	</div>

</body>