<body>
	<!--header-->
	<div class="header-w3l">
		<h1>Sign in with the Gnome Page</h1>
	</div>
	<!--//header-->
	<!--main-->

	<div class="main-content-agile" >
		<div class="sub-main-w3">

	<body>
		<!--header-->
		<div class="header-w3l">
		</div>
		<!--//header-->
		<!--main-->
		<div class="main-content-agile" id="signupFix">
			<div class="sub-main-w3">
				<h2>Sign Up</h2>
				<form id="signup" name="signup" method="post" action="/signup">
					<h6>Swiftly sign in with</h6>
					<img src="../assets/images/google.png">

					<div class="icon1">
						<label for="email"></label>
						<input class="text" name="email" type="email" placeholder="Email" />
					</div>

					<div class="icon3">
						<label for="firstname"></label>
						<input name="firstname" type="text" placeholder="First Name" />
					</div>

					<div class="icon4">
						<label for="lastname"></label>
						<input name="lastname" type="text" placeholder="Last Name" />
					</div>

					<div class="icon5">
						<label for="city"></label>
						<input name="city" type="text" placeholder="City" />
					</div>
					<div class="icon5">
						<label for="sports"></label>
						<input name="sports" type="text" placeholder="Favorite Sports Team" />
					</div>

					<div class="icon2">
						<label for="password"></label>
						<input name="password" type="password" placeholder="Password" />
					</div>

					<div class="clear"></div>

					<input class="btn" type="submit" value="Sign Up" />

				</form>
			</div>
		</div>
	</div>
	<!-- footer -->
	<div class="footer">
		<p>&copy; 2018 The Gnome Page. All rights reserved | Design by
			<a href="https://github.com/petercboss/Papayas-Project-2">Papayas-Project-2</a>
		</p>
	</div>



</body>