html,
body {
    background: #e5eaee;
    margin: 0;
    padding: 0;
    font-family: calibri, sans-serif;
}

#container {
    width: 800px;
    padding: 60px;
    margin: 0 auto;
}

.btn-secondary{
float: right;
margin: 20px;
}

.title,
.gnome {
    text-align: center;
    font-size: 50px
}

#weather,
#calendar,
#email,
#tasks {
    width: 320px;
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    float: right;
    padding: 20px;
}


/* = kyles gnome = */

#gnomeDiv {
    width: 100px;
    height: 100px;
    /* background: red; */
    position: relative;
    -webkit-animation: mymove 1s infinite;
    /* Safari 4.0 - 8.0 */
    animation: mymove 1s infinite;
}

.card-img-top {
    width: 128px;
    height: 128px;
}


/* Chrome, Safari, Opera */

@-webkit-keyframes mymove {
    from {
        left: 0px;
    }
    to {
        left: 200px;
    }
}


/* Chrome, Safari, Opera */

@-webkit-keyframes mynewmove {
    from {
        top: 0px;
    }
    to {
        top: 200px;
    }
}

@keyframes mymove {
    from {
        left: 0px;
    }
    to {
        left: 200px;
    }
}

@keyframes mynewmove {
    from {
        top: 0px;
    }
    to {
        top: 200px;
    }
}


/* = kyles gnome end = */


/*calendar*/


/*weather*/


/*email*/


/*tasks*/


/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/


/* reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* start editing from here */

a {
    text-decoration: none;
}

.txt-rt {
    text-align: right;
}


/* text align right */

.txt-lt {
    text-align: left;
}


/* text align left */

.txt-center {
    text-align: center;
}


/* text align center */

.float-rt {
    float: right;
}


/* float right */

.float-lt {
    float: left;
}


/* float left */

.clear {
    clear: both;
}


/* clear float */

.pos-relative {
    position: relative;
}


/* Position Relative */

.pos-absolute {
    position: absolute;
}


/* Position Absolute */

.vertical-base {
    vertical-align: baseline;
}


/* vertical align baseline */

.vertical-top {
    vertical-align: top;
}


/* vertical align top */

nav.vertical ul li {
    display: block;
}


/* vertical menu */

nav.horizontal ul li {
    display: inline-block;
}


/* horizontal menu */

img {
    max-width: 100%;
}


/*end reset*/

body {
    background: url(/assets/images/banner.jpg);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}


/*--header--*/

.header-w3l {
    padding: 6em 0 4.5em;
}

.header-w3l h1 {
    font-size: 4.5em;
    color: #ffffff;
    text-shadow: 1px 1px 10px #9a8b89;
    letter-spacing: 4px;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
    word-spacing: 7px;
    letter-spacing: 2px;
    text-align: center
}


/*--//header--*/


/*--main--*/

.main-content-agile {
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.08);
    background: rgba(19, 17, 17, 0.62);
    width: 30%;
    box-shadow: 2px 2px 21px rgba(0, 0, 0, 0.29);
    position: relative;
    padding: 3em;
}

.sub-main-w3 h2 {
    font-size: 2em;
    color: #fff;
    margin-bottom: 1em;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px #000;
}

.sub-main-w3 input[type="email"],
.sub-main-w3 input[type="password"],
.sub-main-w3 input[type="text"] {
    outline: none;
    font-size: 14px;
    border: none;
    box-shadow: 2px 2px 21px rgba(0, 0, 0, 0.29);
    background: rgba(255, 255, 255, 0.21);
    width: 95.9%;
    color: #fff;
    padding: 10px;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    opacity: 0.7;
}

.sub-main-w3 input[type="submit"] {
    color: #fff;
    background: #34bf49;
    border: none;
    width: 100%;
    padding: .8em 0em;
    outline: none;
    font-size: 1.1em;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-family: 'Roboto', sans-serif;
    margin-top: 1.5em;
}

.sub-main-w3 input[type="submit"]:hover {
    background: #ff4c4c;
    color: #fff;
}

.icon1,
.icon2,
.icon3,
.icon4,
.icon5,
{
    position: relative;
    /* margin-top: 1.3em; */
}

.icon1 {
    padding-bottom: 1em !important;
}

.icon3,
.icon4,
.icon5 {
    padding-bottom: 1em !important;
}

.rem-w3 {
    margin: 1.5em 0;
}

span.check-w3 {
    float: left;
    color: #fff;
    font-size: 13.5px;
    letter-spacing: 1px;
}

.rem-w3 a {
    color: #fff;
    float: right;
    font-size: 13.5px;
    letter-spacing: 1px;
}

.rem-w3 a:hover {
    color: #dd4b39;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

#d2.sub-main-w3 {
    width: 300px;
    height: 151;
    ;
}

.sub-main-w3 h6 {
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 2em 0 1em;
    text-shadow: 1px 1px 2px #000000;
}


/*-- checkbox --*/

.anim {
    position: relative;
    display: block;
    margin: 1.5em 0;
}

label.anim span,
label.anim a {
    color: #fff;
    font-size: 13px;
    display: inline;
    letter-spacing: 1px;
    text-transform: capitalize;
    float: left;
}

label.anim a {
    display: inline-block;
    text-decoration: none;
    float: right;
}

.wthree-text ul li {
    displaY: block;
}

.wthree-text ul li:nth-child(1) {
    margin-right: 36px;
}

.agileits-login label {
    font-size: 1em;
    color: #fff;
    font-weight: 400;
    cursor: pointer;
    position: relative;
}

input.checkbox {
    background: #34bf49;
    cursor: pointer;
    width: 1.2em;
    height: 1.2em;
    margin: 0 6px 0 0 !important;
    float: left;
}

input.checkbox:before {
    content: "";
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    background: inherit;
    cursor: pointer;
}

input.checkbox:after {
    content: "";
    transition: .4s ease-in-out;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 1.1em;
    height: 1.1em;
    /* margin-top: 4px; */
    border: 1px solid #ffffff;
}

input.checkbox:checked:after {
    transform: rotate(-45deg);
    height: .5rem;
    border-color: #fff;
    border-top-color: transparent;
    border-right-color: transparent;
}

.anim input.checkbox:checked:after {
    transform: rotate(-45deg);
    height: .5rem;
    border-color: transparent;
    border-right-color: transparent;
    animation: .4s rippling .4s ease;
    animation-fill-mode: forwards;
}

@keyframes rippling {
    50% {
        border-left-color: #d24747;
    }
    100% {
        border-bottom-color: #fff;
        border-left-color: #fff;
    }
}


/*-- //checkbox --*/


/*--//main--*/


/*--footer--*/

.footer {
    padding: 10em 0 14.7em;
}

.footer p {
    font-size: 15px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
}

.footer p a {
    color: #ff4c4c;
}

.footer p a:hover {
    text-decoration: underline;
}


/*--//footer--*/


/*--placeholder-color--*/

::-webkit-input-placeholder {
    color: #fff;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}

:-ms-input-placeholder {
    color: #fff;
}


/*--//placeholder-color--*/


/*--responsive--*/

@media(max-width: 1680px) {
    .header-w3l h1 {
        font-size: 4em;
    }
    .header-w3l {
        padding: 1.5em 0 1.5em;
    }
    .footer {
        padding: 8em 0;
    }
}

@media(max-width: 1600px) {
    .header-w3l {
        padding: 1.5em 0 1.5em;
    }
    .header-w3l h1 {
        font-size: 3.5em;
    }
    .footer {
        padding: 3.07em 0;
    }
}

@media(max-width: 1440px) {
    .header-w3l h1 {
        font-size: 2.8em;
    }
    .wthree-pro h2 {
        font-size: 1.5em;
    }
    .header-w3l {
        padding: 1.5em 0;
    }
    .main-content-agile {
        width: 38%;
    }
    .footer {
        padding: 3em 0;
    }
    .header-w3l {
        padding: 1.5em 0;
    }
    .footer {
        padding: 5.37em 0;
    }
}

@media(max-width: 1366px) {
    .main-content-agile {
        width: 40%;
    }
    .header-w3l {
        padding: 1.5em 0;
    }
    .footer {
        padding: 2.74em 0;
    }
}

@media(max-width: 1280px) {
    .main-content-agile {
        width: 43%;
    }
    .header-w3l {
        padding: 1.5em 0;
    }
    .footer {
        padding: 3.24em 0;
    }
}

@media(max-width: 1080px) {
    .header-w3l h1 {
        font-size: 2.6em;
    }
    .wthree-pro h2 {
        font-size: 1.4em;
        padding: 0.8em 0 0.8em 1.8em;
    }
    .main-content-agile {
        width: 49%;
    }
    .sub-main-w3 {
        padding: 2em;
    }
    .sub-main-w3 input[type="submit"] {
        padding: .7em 4em;
        font-size: 1em;
    }
}

@media(max-width: 1024px) {
    .main-content-agile {
        width: 51%;
    }
    .header-w3l {
        padding: 1.5em 0 1.5em;
    }
    .footer {
        padding: 3.44em 0;
    }
    .sub-main-w3 input[type="email"],
    .sub-main-w3 input[type="password"] {
        padding: 9.74px;
    }
}

@media(max-width: 991px) {
    .header-w3l h1 {
        font-size: 2.5em;
    }
}

@media(max-width: 900px) {
    .main-content-agile {
        width: 59%;
    }
}

@media(max-width: 800px) {
    .header-w3l h1 {
        font-size: 2.3em;
    }
    .main-content-agile {
        width: 61%;
    }
}

@media(max-width: 768px) {
    .header-w3l {
        padding: 1.5em 0 1.5em;
    }
    .main-content-agile {
        width: 65%;
        padding: 2em;
    }
    .footer {
        padding: 3em 0 2em 0;
    }
}

@media(max-width:667px) {
    .footer p {
        font-size: 14px;
        letter-spacing: 1px;
        padding: 0 3px;
    }
}

@media(max-width:600px) {
    .main-content-agile {
        width: 73%;
        padding: 1em;
    }
}

@media(max-width:568px) {
    .footer p {
        padding: 0 5px;
        line-height: 1.9em;
    }
}

@media(max-width:480px) {
    .header-w3l h1 {
        font-size: 2em;
    }
    .sub-main-w3 {
        padding: 1em;
    }
    .sub-main-w3 h2 {
        font-size: 1.6em;
    }
}

@media(max-width:414px) {
    .main-content-agile {
        width: 87%;
        padding: 1em;
    }
    .header-w3l {
        padding: 2em 0 1.2em;
    }
    .header-w3l h1 {
        font-size: 1.8em;
        line-height: 1.5em;
    }
    .footer {
        padding: 2em 0 1em 0;
    }
    .sub-main-w3 h2 {
        font-size: 1.5em;
    }
    .sub-main-w3 h6 {
        margin: 1.3em 0 1em;
    }
}

@media(max-width:375px) {
    .icon1,
    .icon2 {
        position: relative;
        margin-top: 0.5em;
    }
}

@media(max-width: 320px) {
    .header-w3l h1 {
        font-size: 1.6em;
        line-height: 1.5em;
    }
    .sub-main-w3 {
        padding: 0em;
    }
    .header-w3l {
        padding: 1em 0 0.5em;
    }
}


/*--//responsive--*/


/* end template  */


/* begin kyles add on mods to templates */

#d1 {
    /* margin: 0 */
    /* background: rgba(19, 17, 17, 0.62) */
}

#d2 {
    /* margin: 0 */
}

#d3 {
    /* margin: 0 */
}

.row {
    margin-right: -15px;
    margin-left: -15px;
    background: rgba(19, 17, 17, 0.014);
}

.card {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
    background: rgba(19, 17, 17, 0.62);
    box-shadow: 2px 2px 21px rgba(0, 0, 0, 0.29);
    padding: .5em 1em;
    text-decoration: none;
}

#effect.calendar-card {
    margin-right: 15px;
    margin-left: 15px;
    background: rgba(19, 17, 17, 0.62);
    box-shadow: 2px 2px 21px rgba(0, 0, 0, 0.29);
    padding: .5em 1em;
    text-decoration: none;
    width: 335x;
    height: 151;
}

#button {
    padding: .5em 1em;
    text-decoration: none;
}

#effect.card {
    width: 300px;
    height: 276px;
    padding: 0.4em;
}

#effect.calendar-card {
    margin: 0;
    padding: 0.4em;
    width: 315px;
    height: 276px;
    padding: 0.4em;
    text-align: center;
}

#effect h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
}

a.btn-primary {
    cursor: default;
    font-size: 90%;
    opacity: .7;
    background: rgba(19, 17, 17, 0.62);
    border-style: none;
}

a.btn-primary:hover {
    background: #ff4c4c;
    color: #fff;
    opacity: none;
}

.g-signin2 {
    margin-left: 500px;
    margin-top: 200px;
}

.data {
    display: none;
}

ul {
    margin-left: 10px;
    margin-right: 6px;
}

li {
    color: black;
    font-size: 13px;
    text-align: left;
    margin-left: 10px;
    margin-right: 6px;
    /* list-style-type: decimal; */
}

h3 {
    background: #ff4c4c;
    font-size: 2em;
    color: #fff;
    margin-bottom: 1em;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: capitalize;
    text-shadow: 1px 1px 1px #000;
    text-align: center;
}

#email-img {
    width: 40px;
    height: 40px;
    float: right;
    background: #fff;
}

#d4 {
    background: #FC4E51;
    overflow-y: auto;

}

#d1 {
    background: #FFF;
}

.sports {
    overflow-y: auto;
    overflow-x: auto;
}

.news li {
    text-decoration: none;
}

.navbar {
    margin-bottom: 0;
}

#logout a, .news a  {
    text-decoration: none;
    all: unset;
}

.news a {
    color: white;
    font-size: 15px;
}

#logout a:hover, .news a:hover {
    text-decoration: none;
    cursor: pointer;
}

.game {	display: block; 	width: 800px; 	height: 600px; 	margin: 20px auto;} 

@import url(https://fonts.googleapis.com/css?family=Raleway+Dots);
.sun {
    width: 85px;
    height: 85px;
    background: #f9db62;
    border-radius: 360px;
    opacity: 1;
    margin: 0 auto;
}

.cloud {
    position: absolute;
    bottom: 12px;
    left: 8px;
    z-index: 2;
    opacity: 0;
    animation: cloud 10s 0s linear infinite;
}

.cloud .cloud1:not(.c_shadow) ul li {
    animation: cloudi 10s 0.1s linear infinite;
}

.cloud .cloud1:not(.c_shadow):before {
    animation: cloudi 10s 0s linear infinite;
}

.cloud_s {
    position: absolute;
    bottom: 70px;
    left: 150px;
    transform: scale(0.7, 0.7) matrix(-1, 0, 0, 1, 0, 0);
    z-index: 1;
    opacity: 0;
    animation: cloud_s 10s 0s linear infinite;
}

.cloud_s .c_shadow {
    transform: scale(1.02, 1.02);
}

.cloud_vs {
    position: absolute;
    bottom: 90px;
    left: 30px;
    transform: scale(0.5, 0.5);
    z-index: 0;
    opacity: 0;
    animation: cloud_vs 10s 0s linear infinite;
}

.c_shadow {
    z-index: 4 !important;
    left: -5px;
    bottom: -3px !important;
}

.c_shadow:before {
    background: #33495f !important;
}

.c_shadow ul li {
    width: 60px !important;
    height: 60px !important;
    background: #33495f !important;
    float: left;
    position: absolute;
    bottom: -2px !important;
    border-radius: 360px;
}

.c_shadow ul li:nth-child(2) {
    width: 80px !important;
    height: 80px !important;
    background: #33495f !important;
    float: left;
    border-radius: 360px;
    position: absolute;
    bottom: 16px !important;
    left: 25px !important;
}

.c_shadow ul li:nth-child(3) {
    width: 70px !important;
    height: 70px !important;
    background: #33495f !important;
    float: left;
    border-radius: 360px;
    position: absolute;
    bottom: 6px !important;
    left: 60px !important;
}

.c_shadow ul li:last-child {
    width: 60px !important;
    height: 60px !important;
    background: #33495f !important;
    float: left;
    border-radius: 360px;
    position: absolute;
    bottom: 0px;
    left: 90px;
}

.cloud1 {
    position: absolute;
    bottom: 0px;
    z-index: 5;
}

.cloud1:before {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 28px;
    width: 90px;
    height: 20px;
    background: #fff;
}

.cloud1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.cloud1 ul li {
    width: 50px;
    height: 50px;
    background: #fff;
    float: left;
    border-radius: 360px;
}

.cloud1 ul li:nth-child(2) {
    width: 70px;
    height: 70px;
    background: #fff;
    float: left;
    border-radius: 360px;
    position: absolute;
    bottom: 18px;
    left: 25px;
}

.cloud1 ul li:nth-child(3) {
    width: 60px;
    height: 60px;
    background: #fff;
    float: left;
    border-radius: 360px;
    position: absolute;
    bottom: 8px;
    left: 60px;
}

.cloud1 ul li:last-child {
    width: 50px;
    height: 50px;
    background: #fff;
    float: left;
    border-radius: 360px;
    position: absolute;
    bottom: 0px;
    left: 90px;
}

.haze {
    background: #33495f;
    position: absolute;
    bottom: 50px;
    left: 0px;
    width: 200px;
    height: 45px;
    z-index: 6;
    opacity: 0;
    animation: haze 10s 0s linear infinite;
}

.haze_stripe {
    background: #a3b5c7;
    position: absolute;
    bottom: 75px;
    left: 20px;
    width: 115px;
    height: 10px;
    z-index: 17;
    opacity: 0;
    border-radius: 360px;
    animation: haze_stripe 10s 0.1s linear infinite;
}

.haze_stripe:nth-child(6) {
    bottom: 55px;
    animation: haze_stripe 10s 0.2s linear infinite;
}

.haze_stripe:last-child {
    bottom: 35px;
    animation: haze_stripe 10s 0.4s linear infinite;
}

.thunder {
    position: absolute;
    bottom: 100px;
    left: 65px;
    width: 12px;
    height: 12px;
    background: #f9db62;
    transform: skew(-25deg);
    opacity: 0;
    animation: thunder 10s 0s linear infinite;
}

.thunder:before {
    content: '';
    position: absolute;
    top: 11px;
    left: 0px;
    width: 25px;
    height: 8px;
    background: #f9db62;
}

.thunder:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 18px;
    right: -14px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 20px solid #f9db62;
    transform: skew(5deg);
}

.rain {
    position: absolute;
    bottom: 0px;
    left: 25px;
}

.rain ul {
    list-style: none;
    margin: 0;
    padding: 0px;
}

.rain ul li {
    float: left;
    position: absolute;
    bottom: 50px;
    left: 50px;
    margin-left: 20px;
    background: #6ab9e9;
    height: 40px;
    width: 10px;
    border-radius: 360px;
    transform: rotate(35deg);
    opacity: 0;
}

.rain ul li:first-child {
    animation: raini 10s 0s linear infinite;
}

.rain ul li:nth-child(2) {
    animation: rainii 10s 0.2s linear infinite;
}

.rain ul li:last-child {
    animation: rainiii 10s 0.4s linear infinite;
}

.sleet {
    position: absolute;
    bottom: 0px;
    left: 25px;
}

.sleet ul {
    list-style: none;
    margin: 0;
    padding: 0px;
}

.sleet ul li {
    float: left;
    position: absolute;
    bottom: 50px;
    left: 50px;
    margin-left: 20px;
    background: #fff;
    height: 40px;
    width: 10px;
    border-radius: 360px;
    transform: rotate(35deg);
    opacity: 0;
}

.sleet ul li:first-child {
    animation: raini 10s 1.0s linear infinite;
}

.sleet ul li:nth-child(2) {
    animation: rainii 10s 1.4s linear infinite;
}

.sleet ul li:last-child {
    animation: rainiii 10s 1.6s linear infinite;
}

@keyframes sun {
    0% {
        opacity: 1;
        bottom: 35px;
        right: 35px;
    }
    4% {
        bottom: 80px;
        right: 80px;
    }
    4.5% {
        bottom: 75px;
        right: 75px;
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    41% {
        bottom: 75px;
        right: 75px;
        opacity: 0;
    }
    100% {
        opacity: 0;
        bottom: 0px;
        right: 0px;
    }
}

@keyframes cloud {
    0% {
        transform: scale(0.8);
        left: 120px;
        bottom: 35px;
        opacity: 0;
    }
    2% {
        opacity: 1;
    }
    3.5% {
        bottom: 35px;
        left: 10px;
        opacity: 1;
    }
    16% {
        transform: scale(0.8);
    }
    18% {
        transform: scale(0.95);
    }
    19% {
        transform: scale(0.9);
    }
    48% {
        opacity: 1;
        bottom: 35px;
    }
    50% {
        bottom: 70px;
    }
    64% {}
    96% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        bottom: 70px;
        left: 10px;
    }
}

@keyframes cloud_s {
    0% {
        transform: scale(0.6);
        opacity: 0;
        bottom: 40px;
        left: 18px;
    }
    23% {
        opacity: 0;
    }
    24% {
        opacity: 1;
        bottom: 40px;
        left: 30px;
    }
    28% {
        opacity: 1;
        bottom: 85px;
        left: 60px;
    }
    32% {
        transform: scale(0.6);
    }
    34% {
        transform: scale(0.75);
    }
    35% {
        transform: scale(0.7);
    }
    48% {
        opacity: 1;
    }
    49% {
        opacity: 0;
    }
    100% {
        transform: scale(0.7);
        opacity: 0;
        bottom: 85px;
        left: 60px;
    }
}

@keyframes cloud_vs {
    0% {
        opacity: 0;
        bottom: 85px;
        left: 60px;
    }
    39% {
        opacity: 0;
    }
    40% {
        opacity: 1;
        bottom: 85px;
        left: 60px;
    }
    42% {
        bottom: 125px;
        left: 10px;
    }
    43% {
        bottom: 120px;
        left: 15px;
    }
    48% {
        opacity: 1;
    }
    49% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        bottom: 120px;
        left: 15px;
    }
}

@keyframes haze {
    0% {
        opacity: 0;
    }
    48% {
        height: 0px;
        opacity: 0;
    }
    49% {
        height: 45px;
        opacity: 1;
    }
    57% {
        opacity: 1;
        height: 45px;
    }
    58% {
        opacity: 0;
        height: 0px;
    }
}

@keyframes haze_stripe {
    0% {
        opacity: 0;
    }
    48% {
        opacity: 0;
    }
    49% {
        opacity: 1;
    }
    56% {
        opacity: 1;
    }
    57% {
        opacity: 0;
    }
}

@keyframes cloudi {
    0% {
        background: #fff;
    }
    56% {
        background: #fff;
    }
    57% {
        background: #92a4b6;
    }
    100% {
        background: #92a4b6;
    }
}

@keyframes thunder {
    0% {
        opacity: 0;
        bottom: 100px;
        left: 65px;
    }
    62% {
        opacity: 0;
        bottom: 100px;
        left: 65px;
    }
    64% {
        opacity: 1;
        bottom: 50px;
        left: 60px;
    }
    65% {
        opacity: 1;
        bottom: 55px;
        left: 61px;
    }
    72% {
        opacity: 1;
        bottom: 55px;
        left: 61px;
    }
    73% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        bottom: 55px;
    }
}

@keyframes raini {
    0% {
        opacity: 0;
        bottom: 100px;
        left: 60px;
    }
    72% {
        opacity: 0;
        bottom: 100px;
        left: 60px;
    }
    73% {
        opacity: 1;
        bottom: 15px;
        left: 50px;
    }
    74% {
        opacity: 1;
        bottom: 25px;
        left: 52px;
    }
    80% {
        opacity: 1;
        bottom: 25px;
        left: 52px;
    }
    81% {
        opacity: 0;
        bottom: -15px;
        left: 6px;
    }
    100% {
        opacity: 0;
        bottom: 20px;
    }
}

@keyframes rainii {
    0% {
        opacity: 0;
        bottom: 100px;
        left: 30px;
    }
    72% {
        opacity: 0;
        bottom: 100px;
        left: 30px;
    }
    73% {
        opacity: 1;
        bottom: 15px;
        left: 20px;
    }
    74% {
        opacity: 1;
        bottom: 25px;
        left: 22px;
    }
    80% {
        opacity: 1;
        bottom: 25px;
        left: 22px;
    }
    81% {
        opacity: 0;
        bottom: -15px;
        left: -6px;
    }
    100% {
        opacity: 0;
        bottom: 20px;
    }
}

@keyframes rainiii {
    0% {
        opacity: 0;
        bottom: 100px;
        left: 0px;
    }
    72% {
        opacity: 0;
        bottom: 100px;
        left: 0px;
    }
    73% {
        opacity: 1;
        bottom: 15px;
        left: -10px;
    }
    74% {
        opacity: 1;
        bottom: 25px;
        left: -8px;
    }
    80% {
        opacity: 1;
        bottom: 25px;
        left: -8px;
    }
    81% {
        opacity: 0;
        bottom: -15px;
        left: -28px;
    }
    100% {
        opacity: 0;
        bottom: 20px;
    }
}

@keyframes fade_in {
    0% {
        opacity: 0;
    }
    8% {
        opacity: 1;
    }
    9% {
        opacity: 1;
    }
    11% {
        opacity: 1;
    }
    12% {
        opacity: 0;
    }
    100% {
        oapcity: 0;
    }
}