html,
body {
    background: #e5eaee;
    margin: 0;
    padding: 0;
    font-family: calibri, sans-serif;
}

#container {
    width: 800px;
    padding: 60px;
    margin: 0 auto;
}

.title,
.gnome {
    text-align: center;
    font-size: 50px
}

#weather,
#calendar,
#email,
#tasks {
    width: 320px;
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    float: right;
    padding: 20px;
}

/* = kyles gnome = */

#gnomeDiv {
    width: 100px;
    height: 100px;
    /* background: red; */
    position: relative;
    -webkit-animation: mymove 1s infinite; /* Safari 4.0 - 8.0 */
    animation: mymove 1s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mynewmove {
    from {top: 0px;}
    to {top: 200px;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}

@keyframes mynewmove {
    from {top: 0px;}
    to {top: 200px;}
}

/* = kyles gnome end = */


/*calendar*/


/*weather*/


/*email*/


/*tasks*/